body {
    background-color:beige;
    position:center;
}

svg{
    transform: scale(0.85);
    display: block;
}
div.tooltip{
    position:absolute;
    text-align:center;
    max-width: 50%;
    height:14px;
    padding:2px;
    font:14px sans-serif;
    background:lightgoldenrodyellow;
    border:indigo solid;
    border-radius:0vmin;
    bottom: 100%;
    left: 50%;
    white-space: nowrap;
    pointer-events:none;}


h1{
    font-size:30px;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h2{
    font-size: 16px;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: justify;
    line-height:1.3;
    padding-left:200px;
    padding-right:200px;
}


h3{
    font-size: 15px;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}



button {
    font-family: 'Nunito',sans-serif;
    font-weight:700;
    font-size: 15px;
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    display: inline-block;
    transition-duration: 0.3s;
}

.femButton {
    background-color: #e6571a; 
    color: white; 

}
  
.femButton:hover {
    background-color: #b11a3a;
    color: white;
}
  
.maleButton {
    background-color:purple; 
    color: white; 

}
  
.maleButton:hover {
    background-color: #5250d7;
    color: white;
}
  
.totButton {
    background-color:rgb(131, 115, 28); 
    color:white; 
}
  
.totButton:hover {
    background-color: #013913;
    color: white;
}
